
.support-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
  }
  
  .support-image {
    width: 100%; 
    margin-bottom: 20px;
  }
  
  .support-title {
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    font-weight: bold;
  }
  